/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Manrope:wght@300;400&family=Poppins:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.title h1{
  font-family: 'Kaushan Script', cursive;
  color: #777272;
}
.header-title, .cart h1{
  color: #59C42B;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  transition: 0.6s;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
  padding: 15px;
  margin: 3% 3%;
  border-radius: 5px;
}
.single-product:hover {
  transform: translateY(-5px);
  transition: transform .5s ease-in-out;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 30%);
  background: #59c42b0a;
  
}
.product{
  height: 100%;
}
.product-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.product-image:hover {
  padding-top: 10px;
  transform: scale(1.1);
  transition: transform .5s ease-in-out;
}
.product-title{
  line-height: 30px;
  margin: 0;
  font-size: 20px;
  font-family: 'Inter';
  color: #383838;
  margin: 20px 0;
}
.p-color{
  color: #635f5f;
}
.ranchy-btn-primary{
  background-color: #59C42B;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
}
.ranchy-btn-primary:hover{
  color: #59C42B;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #59C42B;
  background-color: #F5FBF2;
  transition: .4s ease-in-out;
}
.ranchy-btn-secondary{
  color: #59C42B;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #59C42B;
  background-color: #fff;
}
.ranchy-btn-secondary:hover{
  background-color: #59C42B;
  color: #fff;
  border: 0;
  transition: .4s ease-in-out;
}
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  z-index: 1;
  background: #fff;
}
.cart-main {
  padding-right: 30px;
}
/* Footer Section CSS */
footer{
  background-color: #0B0D17;

}
.fab{
  padding: 0 5px;
}
.fab:hover{
  transform: translateY(-5px); 
  transition: transform .5s ease-in-out;
}
.fa-facebook{
  color: #1873EB;
}
.fa-twitter{
  color: #4FC5F7;
}
.fa-linkedin-in{
  color: #047CBA;
}
.fa-instagram{
  color: #C5007A;
}
.fa-youtube{
  color: #FF0000;
}
.footer-menu a{
  color: white;
  text-decoration: none;
  font-family: Manrope;
  font-size: 16px;
  line-height: 26px;
  padding: 12px 20px 12px 0px;
}
.footer-menu a:hover{
color: #59C42B; 
}
.footer-menu p{
  font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #ddd;
}
.footer-right p{
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.footer-social > a{
  padding:0px;
}
.footer-right img{
width: 135px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
